@{
    ViewData["Title"] = "Доклад";
}

<!DOCTYPE html>
<html>
<body>
   <h1>Что такое AngularJS и с чем его едят?</h1>

    <div>
        <hr>
        <p><b>AngularJS</b> - это JavaScript-фреймворк с открытым исходным кодом, предназначенный для создания одностраничных веб-приложений. </p>
        <p>Разработан в 2009 году Мишко Хавери. Версия 1.0 была представлена в 2012 году.</p>
        <hr>

        <h2>AngularJS - это JavaScript-фреймворк</h2>
        <p><b>AngularJS</b> - библиотека, написанная на JavaScript и добавляется на веб-страницу с помощью тега &lt;script&gt;: </p>
        <hr>

        <h2>AngularJS приложение</h2>
        <p>Основные части AngularJS приложения - модули и контроллеры.</p>
        <h3>Пример </h3>
       <script async src="//jsfiddle.net/wbjdfhct/28/embed/html,result/"></script>
        <p><b>Модули</b> определяют AngularJS приложения и содержат различные части приложения. Для создания модуля используется функция <code>angular.module</code>.</p>
        <p><b>Контроллеры</b> управляют работой приложения.</p>
        <hr>

        <h2>AngularJS директивы</h2>
        <p>
            AngularJS  позволяет расширить возможности HTML с помощью <b>директив</b>.
            <ul type>
                <li> <code>ng-app</code> определяет приложение, </li>
                <li> <code>ng-model</code> связывает значения из HTML элементов контроля с приложением, </li>
                <li> <code>ng-controller</code> определяет контроллер для приложения. </li>
            </ul>
        </p>
        <hr>

        <h2>AngularJS выражения</h2>
        <p>
            <b>Выражения AngularJS</b> - фрагмент кода, в двойных фигурных скобках или внутри
            директивы.
        </p>
        <h3>Пример </h3>
        <script async src="//jsfiddle.net/wbjdfhct/23/embed/html,result/"></script>
        <h3>Пример </h3>
        <script async src="//jsfiddle.net/wbjdfhct/25/embed/html,result/"></script>
        <p>AngularJS разрешит выражение и вернет результат туда, где оно было написанно.</p>
        <hr>

        <h2>AngularJS: связывание данных </h2>
        <p><b>Двухстороннее связывание данных</b> – синхронизация между моделью и представлением.</p>
        <h3>Пример </h3>
        <script async src="//jsfiddle.net/wbjdfhct/21/embed/html,result/"></script>
        <hr>

        <h2>Заключение </h2>
        <p>Достоинства  AngularJS:</p>
            <ul type="disc">
                <li> двухсторонее связывание данных,  </li>
                <li> выражения, </li>
                <li> директивы. </li>
            </ul>
           <p> Недостатки AngularJS:</p>
            <ul type="disc">
                <li> сложность освоения,  </li>
                <li> отсутствие обратной совместимости с новой версией. </li>
            </ul>
		
		<h2>Источники</h2>
			<ul type="disc">
				<li>https://angularjs.org</li>
				<li>https://www.w3schools.com/angular/</li>
				<li>https://stfalcon.com/ru/blog/post/why-use-angularjs-for-webapps</li>
                <li>http://artemdemo.me/blog/что-такое-angular-js/</li>
        <hr>
    </div>
</body>
</html>
